torch
diffusers
transformers
scipy
ftfy
accelerate
pyngrok
flask-ngrok
flask[async]
werkzeug
numpy
pandas
pyairtable
bubble_api
byaldi
pdf2image
pymupdf
pypdfium2
backoff
langchain
langchain_openai
langchain_community
langgraph
shapely
cloudinary
faiss-gpu