<!DOCTYPE html>
<html>
    <head>
 <meta charset="utf-8">
    </head>

    <body>

    <h1> Enter Data</h1>

    <form action="{{ url_for('upload') }}" method="post" enctype = "multipart/form-data">
        </div id="company-name-div">
            Company name: <input type="text" name="company_name" list="companies">
                <datalist id="companies">
                    <option value="Boston">
                    <option value="Cambridge">
                </datalist>
        </div>
        <div id="year-radio-div">
            <input type="radio" id="fy2022" name="reporting_year" value="2022">
            <label for="fy2022">2022</label><br>
            <input type="radio" id="fy2023" name="reporting_year" value="2023">
            <label for="fy2023">2023</label><br>
        </div>
        <div id="file-input-div">
            <div class="file-input-container">
                <div id="drop-area">
                    <i class="fas fa-file-upload"></i>
                    <p>Drag and drop a PDF here or click to upload</p>
                    <input id="file-upload" name="file-upload" type="file" accept=".pdf" />
                    <p class="error-message" id="error-message"></p>
                </div>
                <div id="file-info">
                    <span id="file-name">No file chosen</span>
                    <!-- <span id="remove-file" style="display: none;">&times;</span> -->
                </div>
            </div>
        </div>
        <input type="submit" value="Extract metrics">
    </form>
    <script>
        const fileInput = document.getElementById('file-upload');
        const fileInfo = document.getElementById('file-name');

        fileInput.addEventListener('change', () => {
            if (fileInput.files.length > 0) {
                fileInfo.textContent = ''; // Clear the message once a file is selected
            } else {
                fileInfo.textContent = 'No file chosen'; // Revert if no file is selected
            }
        });
    </script>

    </body>
    
</html>