<!DOCTYPE html>
<html>
 <head>
  <!-- <meta charset="multipart/form-data"> -->
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}" />
 </head>

 <body>
    <div class="container">
        <div>
        <img src="data:image/png;base64,{{img_base64}}"
            onclick="enlargeImg()"
            id="img1" />
        <button onclick="resetImg()">Reset</button>
        </div>
        <div class="text">
            <h1> Water withdrawn (m3): {{html_data}}</h1>
        </div>
    </div>
    <!-- script to set display property -->
    <script>
        img = document.getElementById("img1");
      
        function enlargeImg() {
            img.style.transform = "scale(1.5)";
            img.style.transition = "transform 0.25s ease";
        }
      
        // Function to reset image size
        function resetImg() {
            img.style.transform = "scale(1)";
            img.style.transition = "transform 0.25s ease";
        }
    </script>
 </body>
</html>