<!DOCTYPE html>
<html>
 <head>
  <!-- <meta charset="multipart/form-data"> -->
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}" />
 </head>

 <body>
    <h1>Metrics</h1>
    <div class="container">
        <div class = "source">
        <img src="data:image/png;base64,{{img_base64}}"
            onclick="enlargeSource()"
            id="img1" />
        <button onclick="resetSource()">Reset</button>
        </div>
        <div class="text">
            <h1> Water withdrawn (m3): {{html_data}}</h1>
        </div>
    </div>
    <button id="newButton" class="float-left submit-button" >New Document</button>

    <script type="text/javascript">
        document.getElementById("newButton").onclick = function () {
            location.href = "{{ url_for('initial') }}";
        };
    </script>
    <!-- script to set display property -->
    <script>
        source = document.querySelector(".source");
      
        function enlargeSource() {
            source.style.transform = "scale(3) translateX(50px)";
            source.style.transition = "transform 0.25s ease";
        }
      
        // Function to reset image size
        function resetSource() {
            source.style.transform = "scale(1) translateX(-50px)";
            source.style.transition = "transform 0.25s ease";
        }
    </script>
 </body>
</html>